<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Wonderlerts</title>
    <link rel="stylesheet" href="/css_sheets/styles/styles.css">
    <!-- Add any additional styles or links to external stylesheets here -->
</head>
<body>

    <header>
        <br>
        <h1><b>WINTER WONDERLERTS</b></h1>
        <br><br>    
        <p>This is a magical place where you can receive winter weather alerts!</p>
    </header>

    <main>
        <div class="gear-container" onclick="toggleDropdown()">
            <img src="/css_sheets/images/snowflakegear.png" alt="Gear Icon" id="gear-icon">
            <div ul class="dropdown" id="dropdown">
                <li><input type="checkbox" id="option1">
                <label for="option1">SUNDAY</label></li>
                <li><input type="checkbox" id="option2">
                <label for="option2">MONDAY</label></li>
                <li><input type="checkbox" id="option3">
                <label for="option3">TUESDAY</label></li>
                <li><input type="checkbox" id="option4">
                <label for="option4">WEDNESDAY</label></li>
                <li><input type="checkbox" id="option5">
                <label for="option5">THURSDAY</label></li>
                <li><input type="checkbox" id="option6">
                <label for="option6">FRIDAY</label></li>
                <li><input type="checkbox" id="option7">
                <label for="option7">SATURDAY</label></li>
                <li><input type="checkbox" id="option8">
                <label for="option8">ALL DAYS</label></li>
                </ul></div>
        </div><br>

        <!-- ZIP Code Input Field -->
        <label for="zipcode">ZIP Code:</label>
        <input type="text" id="zipcode" name="zipcode" placeholder="Enter ZIP code e.g., 12345">

        <!-- Search Button -->
        <button type="button" onclick="searchByZip()">Search</button>

    <!-- Add more content as needed -->
    <h3>CURRENT WEATHER FORECAST</h3>
    <div id="weather-info"></div>
    
    <br>
        <div id="weather-info"></div>
        <div id="forecast"></div>

    <!-- You can include scripts or links to external scripts here -->
    </main>

    <footer>
        <p><b>&copy; 2023 NovaStellar Atlas Technologies. All rights reserved.</b></p>
    </footer>

    <script src="/css_sheets/scripts/script.js"></script>
</body>
</html>