body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
}

header {
    position: relative;
    background-image: url("/css_sheets/images/8610.jpg"); 
    background-size: cover;
    background-position: center;
    color: blue;
    text-align: right;
    padding: 20px;
}

.gear-container {
    position: absolute;
    display: flex;
    top: 65px;
    left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#gear-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.dropdown input[type="checkbox"] {
    margin-right: 5px;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    color: blue;
}

footer {
    background-image: url("/css_sheets/images/8610.jpg"); 
    background-size: cover;
    background-position: center;
    color: black;
    text-align: right;
    padding: 20px;
}

#forecast-container {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    max-width: 800px; /* Set a maximum width if desired */
    margin: 20px auto; /* Center the map container and add some spacing */
    border: 1px solid #ccc; /* Add a border for better visual separation */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

#alerts-container {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    max-width: 800px; /* Set a maximum width if desired */
    margin: 20px auto; /* Center the map container and add some spacing */
    border: 1px solid #ccc; /* Add a border for better visual separation */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.alert {
    margin-bottom: 10px; /* Add spacing between individual alerts */
    padding: 10px;
    border: 1px solid #ff0000; /* Red border for alerts (customize as needed) */
    background-color: #ffeeee; /* Light red background for alerts (customize as needed) */
}