body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

main {
    flex: 1;
}

header, footer {
    background-image: url('css_sheets/images/8610.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
}
